.container {
  background-color: black;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
}

.link {
  text-decoration: none;
  //   background-color: rgb(36, 36, 36);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
