html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: $background-color;
    color: $text-color;
}

body {
    margin: 80px auto 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    color: inherit;
    word-wrap: break-word;
    font-kerning: normal;
    height: calc(100vh - 80px);
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

a {
    color: $text-color;
    text-decoration: none;
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 1.62671rem;
    line-height: 1.1;
    font-weight: 200;
}

h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 1.38316rem;
    line-height: 1.1;
    font-weight: 200;
}

h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 200;
}

h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 0.85028rem;
    line-height: 1.1;
    font-weight: 200;
}

h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    margin-left: 40px;
}

.outerWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: space-between;
    align-items: space-between;
}

.container {
    margin-left: 80px;
}

.innerContainer {
    margin: 0 auto;
    padding: 14px 60px 20px 20px;
    max-width: 1400px;
}

.gatsbyLogo {
    margin-left: 8px;
    padding-top: 3px;
    height: 20px;
    width: 20px;
}
