.container {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 0 10px;
    position: fixed;
    top: 137px;
    left: 20px;
}

.cameraIcon {
    cursor: pointer;
}

.icon {
    width: 24px;
    padding: 10px 0;
    &:hover {
        opacity: 0.5;
    }
}
