.container {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 0 10px;
    position: fixed;
    top: 137px;
    left: 20px;
}

.icon {
    color: white;
    padding: 10px 0;
}
